<launch>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find jerry_bot_description)/launch/jerry_bot_sim.launch" />
    
    

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find jerry_bot_gazebo)/world/jerry_cafe.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/> 
    </include>

    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch" /> --> -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" output="screen" args="-param robot_description -urdf -model jerry" /> 

</launch>